body {
  background-color: white;
}

.hero-header {
  font-size: 75px;
  margin-top: 75px;

}

#message {
  width: 500px; 
  height: 100px;
}

.textSize {
  font-size: 25px;
}

.hero-sub-header {
  font-size: 50px;
}

@media screen and (max-width: 480px) {
    .hero-header {
      margin-top: 150px;
      font-size: 50px;
    }

    .hero-sub-header {
      font-size: 25px;
    }

    .rightDiv {
      display: none;
    }
}

@media screen and (max-width: 768px) {
    .hero-header {
      margin-top: 150px;
      font-size: 75px;
    }

    .hero-sub-header {
      font-size: 35px;
    }

    .rightDiv {
      display: none;
    }
}

.rightDiv {
  position: fixed;
  bottom: 5%;
  left: 20px;
  width: 200px;
}
