body {
  background-color: rgba(225,225,225,1);
}

.hero-header {
  font-size: 75px;
  margin-top: 75px;

}

#message {
  width: 500px;
  height: 100px;
}

.textSize {
  font-size: 25px;
}

.hero-sub-header {
  font-size: 50px;
}

.bookCard {
  font-size: 15px;
}

.bioTextSize {
  font-size: 35px;
}

.mobileConnect {
  bottom: 0;
}

.pinterest {
  margin-top: 10px; 
}

@media screen and (max-width: 480px) {
    .hero-header {
      margin-top: 150px;
      font-size: 5px;
    }

    .hero-sub-header {
      font-size: 25px;
    }

    h5 {
      font-size: 20px;
    }

    .bookCard {
      font-size: 8px;
    }

    .bioTextSize {
      font-size: 20px;
    }
}


@media screen and (max-width: 1000px) {
  .rightDiv {
    display: none;
  }

  .hero-header {
    margin-top: 150px;
    font-size: 55px;
  }

  .hero-sub-header{
    font-size: 35px;
  }

}

.rightDiv {
  position: fixed;
  bottom: 5%;
  left: 20px;
  width: 200px;
}
