body {
  background-color: rgba(225,225,225,1);
}

#icons {
  margin-top: 4%;
}

.hero-header {
  font-size: 85px;
  margin-top: 75px;
  font-family: 'Cantata One', serif;

}

.hero-sub-header {
  font-size: 70px;
  font-family: 'Dr Sugiyama', cursive;
}

.pressFont {
  font-family: 'Cantata One', serif;
}

#message {
  width: 500px;
  height: 100px;
}

.textSize {
  font-size: 25px;
}

h5 {
  font-family: 'Cantata One', serif;
}


.bookCard {
  font-size: 15px;
}

.bioTextSize {
  font-size: 35px;
}

.mobileConnect {
  bottom: 0;
}

#pinterest {
  margin-top: 10px;
}


@media screen and (max-width: 768px) {
  .rightDiv {
    display: none;
  }

  .hero-header {
    margin-top: 75px;
    font-size: 41px;
  }

  .hero-sub-header{
    font-size: 45px;
  }

  p {
    font-size: 10px;
  }

  h5 {
    font-size: 15px;
  }

  #icons {
    margin-top: 20%;
  }

}

@media screen and (max-width: 468px) {
  #icons {
    margin-top: 40%;
  }
}
