<h3 class="center teal-text text-darken-4">Bio</h3>

<div class="container center">
  <div class="row">
    <div class="col l12 s12">
      <div class="card-panel yellow darken-4 z-depth-5">
        <span class="white-text bioTextSize">
          No one knows more about California's Agriculture than Alfonso A. Guilin.  As a youth he worked in his family's melon harvesting and packing operation in Blythe, CA.  Later he graduated with a degree in Ag Business from Cal Poly Pomona and rose to prominence as Vice President of the Limoneira Company.  After retirement, he became a Catholic Deacon serving mostly immigrant families at Our Lady of Guadalupe Church in Santa Paula, CA.  Alfonso's books reflect a lifetime of involvemnt in agriculture conveying hope, struggle, and achievement for his diverse and complex characters.
        </span>
      </div>
    </div>
  </div>
</div>
