<h1 class="center teal-text text-darken-4">Bio</h1>

<div class="container center">
  <div class="row">
    <div class="col l12 s12">
      <div class="card-panel yellow darken-4 z-depth-5">
        <span class="white-text textSize">
          No one knows more about California's Agriculture than Alfonso A. Guilin.  As a youth he worked in his family's melon harvesting and packing operation in Blythe, CA.  Later on he graduated with a degree in Agricultural Business from Cal Poly Pomona and rose to prominence as Vice President of the Limoneira Company.  After retirement, he became a deacon in the Catholic Church serving mostly immigrant farm working families in Our Lady of Guadalupe Church in Santa Paula, CA.  Alfonso's books reflect his experiences.  The struggle of a person working in the fields with dreams of achieving something more.  This is Alfonso's stories and the stories reflected in his books.
        </span>
      </div>
    </div>
  </div>
</div>
