<!-- Side -->
<div class="container rightDiv">
  <div class="card-panel  yellow accent-2 center z-depth-5">
    <h4 class="blue-grey-text darken-4">Connect</h4>
    <br>
    <span class="white-text"><a href="https://www.facebook.com/The-lemon-thorn-La-espina-de-limon-194183640613583/" target="_blank"><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></a></span>
    <br>
    <br>
    <span class="white-text"><a href="https://twitter.com/alfonsoguilin" target="_blank"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a></span>
    <br>
    <br>
    <span class="white-text"><a href="https://www.amazon.com/Alfonso-A.-Guilin/e/B00JEWS778/ref=ntt_dp_epwbk_0" target="_blank"><i class="fa fa-amazon fa-4x" aria-hidden="true"></i></a></span>
  </div>
</div>

<!-- Lemon Thorn Section -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col push-l4 l6 s6 push-s6">
        <div class="card-panel  yellow darken-4 z-depth-5">
          <span class="white-text cardText">
            <h5>The Lemon Thorn</h5>
            <br>
            For many summers, young Carlos Reynoso has journeyed north to harvest lemons to finance his medical education in Mexico. His original goal was to reside and practice in his home state of Jalisco, but on his final bus ride to the U.S. he encounters an American girl lwho, along with her family, derails his well intentioned plans. The discovery of a dead body in a lemon orchard along with other events and new acquaintances add complexities to his life. He finds himself adrift among the currents of circumstances, challenges, tragedies, and opportunities that present themselves along the way. Carlos discovers that it is not just people who cross the border illegally, but that many other items do...even human organs!
          </span>
        </div>
      </div>
      <div class="col pull-l5 l3 s6 pull-s6">
        <div class="card z-depth-4">
          <div class="card-image">
            <img src="assets/img/lemonThorn.png">
          </div>
          <div class="card-action center">
            <a href="https://www.amazon.com/Lemon-Thorn-Alfonso-Guilin-ebook/dp/B005H7UBGY/ref=sr_1_1?ie=UTF8&qid=1482892977&sr=8-1&keywords=the+lemon+thorn" target="_blank"><i class="fa fa-amazon fa-3x" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Divider  -->
<div class="divider"></div>

<!-- Sweet Lemons Section -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col push-l1 l6 s6 push-s6">
        <div class="card-panel yellow darken-4 z-depth-5">
          <span class="white-text cardText">
          <h5>Sweet Lemons</h5>
          <br>
          Dr. Carlos Reynoso has settled into his medical practice and home life. Still, he continues to be involved with life in the lemon orchards. His cousin Josie and her friend Nacho are compelled to be involved in the investigation of a local plot by terrorists, who hope to create chaos in Southern California in order to affect an international crisis. Their loyalty to their adopted country is tested by the potential for sacrifice, and by persons who would use them with little regard to their feelings, values or their humanity. Removing the heavy picking bag from one's shoulder and the diagonal sweat imprint left by the bag's strap is not easily forgotten, even when success is found. Yet the opportunity to reach for the brass ring, along with God's providence, is enough to allow triumph over the obstacles placed by some segments of society, and by life in general.
          </span>
        </div>
      </div>
      <div class="col push-l1 l3 s6 pull-s6">
        <div class="card z-depth-4">
          <div class="card-image">
            <img src="assets/img/sweetLemons.png">
          </div>
          <div class="card-action center">
            <a href="https://www.amazon.com/Sweet-Lemons-Mr-Alfonso-Guilin/dp/0615699405/ref=sr_1_6?ie=UTF8&qid=1482894638&sr=8-6&keywords=sweet+lemons" target="_blank"><i class="fa fa-amazon fa-3x" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Divider  -->
<div class="divider"></div>

<!-- Conflict Lemons -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col push-l4 l6 s6 push-s6">
        <div class="card-panel yellow darken-4 z-depth-5">
          <span class="white-text">
            Larry Franco finds out that the life he leads now is not the life he thought it was.  Even as he discovers who he is and those around him he still has doubts.  Yet he faces those challenges to make a productive life with the hand that was dealt to him.
          </span>
        </div>
      </div>
      <div class="col pull-l5 l3 s6 pull-s6">
        <div class="card z-depth-4">
          <div class="card-image">
            <img src="assets/img/conflictLemons.png">
          </div>
          <div class="card-action center">
            <a href="https://www.amazon.com/Conflict-Lemons-Alfonso-Guilin/dp/1515124177/ref=sr_1_8?ie=UTF8&qid=1482901937&sr=8-8&keywords=conflict+lemons" target="_blank"><i class="fa fa-amazon fa-3x" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Divider  -->
<div class="divider"></div>

<!-- Short Handle Hoe -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col push-l1 l6 s6 push-s6">
        <div class="card-panel yellow darken-4 z-depth-5">
          <span class="white-text cardText">
            <h5>The Short Handle Hoe</h5>
            <br>
            In his third published book, The Short Handle Hoe, Al Guilin provides several glimpses into the lives of people who work in the fields. For many, this entry into farm work leads to better opportunities for them and their families. Several of these stories provide an insight into this motivated workforce which is even now taking a place in the larger social structure. Other stories provide a look into their willingness to serve their communities and their adopted country.
          </span>
        </div>
      </div>
      <div class="col push-l1 l3 s6 pull-s6">
        <div class="card z-depth-4">
          <div class="card-image">
            <img src="assets/img/shortHandleHoe.png">
          </div>
          <div class="card-action center">
            <a href="https://www.amazon.com/Short-Handle-Hoe-Alfonso-Guilin/dp/149104862X/ref=sr_1_fkmr0_1?ie=UTF8&qid=1482901985&sr=8-1-fkmr0&keywords=short+handle+hoe+al+guilin" target="_blank"><i class="fa fa-amazon fa-3x" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Divider  -->
<div class="divider"></div>

<!-- EZee -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col push-l4 l6 s6 push-s6">
        <div class="card-panel yellow darken-4 z-depth-5">
          <span class="white-text cardText">
            <h5>EZee</h5>
            <br>
            The young boy looked back at the river he had just crossed. The Colorado River was not red. It was muddy brown. It flowed slowly almost imperceptibly. If not for an occasional stick moving with the languid flow, the moribund river would have been a murky pond. He walked off the road towards some trees. The greenery along the river and the shade were inviting and sure to provide respite from the ever growing hot sun. He heard voices next to the cottonwood trees and approached cautiously. He saw a family sitting around a make shift camp. A woman was cooking eggs and when the smell reached him it reminded him that he hadn’t eaten for two days. He stepped on a twig and the noise made the young girl at the camp turn. She studied him for a long time. Finally, she got up and without speaking, approached him and took him by the hand and brought him to the camp. “What do you got there, baby?” The mother looked at the young man and continued to stir the eggs.
          </span>
        </div>
      </div>
      <div class="col pull-l5 l3 s6 pull-s6">
        <div class="card z-depth-4">
          <div class="card-image">
            <img src="assets/img/EZee.png">
          </div>
          <div class="card-action center">
            <a href="https://www.amazon.com/Ezee-Alfonso-Guilin/dp/1530882249/ref=sr_1_fkmr0_1?ie=UTF8&qid=1482902016&sr=8-1-fkmr0&keywords=ezee+al+guilin" target="_blank"><i class="fa fa-amazon fa-3x" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
