
<div class="container">
  <div class="row">
    <div class="col l12 s12 m12">
      <div class="card small">
        <div class="card-image">
          <img src="assets/img/cjConflictLemons.png">
        </div>
        <div class="card-action center">
          <a href="http://citizensjournal.us/alfonso-guilin-conflict-lemons/" target="_blank">Citizens Journal Conflict Lemons Review</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col l12 s12 m12">
      <div class="card small">
        <div class="card-image">
          <img src="assets/img/cjEzee.png">
        </div>
        <div class="card-action center">
          <a href="http://citizensjournal.us/alfonso-guilin-ezee-a-family-saga-of-hope-and-faith/" target="_blank">Citizens Journal EZee Review</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col l12 s12 m12">
      <div class="card small">
        <div class="card-image">
          <img src="assets/img/spTimesSweetLemons.png">
        </div>
        <div class="card-action center">
          <a href="http://www.santapaulatimes.com/news/archivestory.php/aid/26494/Life_gives_Guilin_lemons_but_he_doesn_92t_make_lemonade_-_he_writes_novels.html" target="_blank">Santa Paula Times Sweet Lemons Review</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col l12 s12 m12">
      <div class="card small">
        <div class="card-image">
          <img src="assets/img/spTimesConflictLemons.png">
        </div>
        <div class="card-action center">
          <a href="http://www.santapaulatimes.com/news/archivestory.php/aid/30710/_91Conflict_Lemons_92:_Guilin_92s_novelexamines_farm_worker_immigration.html" target="_blank">Santa Paula Times Conflict Lemons Review</a>
        </div>
      </div>
    </div>
  </div>
</div>
